@import url("https://fonts.googleapis.com/css2?family=Sniglet&display=swap");

.mainCntnr {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: Sniglet, sans-serif;
  color: #ececec;
}

.container {
  width: 80rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 100px;
}

.imgCntnr img {
  height: 400px;
  width: 500px;
}

.dataContainer {
  width: 50%;
  background: #142d4c;
  border-radius: 10px;
}

.titleCntnr {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

.return {
  margin-left: -230px;
}

.returnBtn {
  background-color: transparent;
  border: none;
  color: #ececec;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.returnBtn:hover {
  color: cornflowerblue;
}

.title {
  margin-left: -50px;
}

.dataOne,
.dataTwo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 0.5rem;
}

.typesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.loading {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  padding-top: 250px;
  padding-bottom: 250px;
  max-width: 200px;
  max-width: 150px;
}
