@import url("https://fonts.googleapis.com/css2?family=Sniglet&display=swap");

.mainCntnr {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: Sniglet, sans-serif;
  color: #ececec;
}

.container {
  width: 50rem;
  margin: 4rem;
  border-radius: 50px;
  background-color: #142d4c;
}

.return {
  text-decoration: none;
  border-radius: 20px;
  font-size: 30px;
  color: #ececec;
  transition: color 0.3s ease;
}

.return:link,
.return:visited {
  color: #ececec;
}

.return:hover {
  color: cornflowerblue;
  cursor: pointer;
  transition: color 0.3s ease;
}

.imgCntnr img {
  background-color: transparent;
  max-width: 200px;
}

.dataUno p,
.dataDos p {
  font-size: 15px;
}

.loading {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  padding-top: 250px;
  padding-bottom: 250px;
  max-width: 200px;
  max-width: 150px;
}
