@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

.mainCntnr {
    background-color: #212529;
    border: 3px solid #385170;
    border-radius: 50px;
    width: 25%;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Sniglet', cursive;
    color: #fff;
}

.nameCntnr,
.imageCntnr,
.lifeCntnr,
.attackCntnr,
.defenseCntnr,
.speedCntnr,
.heightCntnr,
.weightCntnr {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 150px;
    gap: 5px;
}

.nameCntnr input,
.imageCntnr input,
.lifeCntnr input,
.attackCntnr input,
.defenseCntnr input,
.speedCntnr input,
.heightCntnr input,
.weightCntnr input{
    background-color: #385170;
    border: none;
    font-family: Sniglet, sans-serif;
    color: #ececec;
}

.typesCntnr p{
    color: cornflowerblue;
}

.checkTypes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.checkTypes label{
    color: cornflowerblue;
}

.checkTypes input:hover{
    cursor: pointer;
}

.btnCntnr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px;
}

.btnCntnr button{
    background-color: #385170;
    border: none;
    border-radius: 50px;
    font-family: Sniglet, sans-serif;
    color: #ececec;
}

.btnCntnr button:hover {
    cursor: pointer;
}