@import url("https://fonts.googleapis.com/css2?family=Sniglet&display=swap");

.mainCntnr {
  display: flex;
  justify-content: center;
}

.container {
  background-color: #142d4c;
  width: 40rem;
  margin: 10rem;
  margin-top: 80px;
  border-radius: 50px;
}

.cuatro {
  font-family: Sniglet, sans-serif;
  font-size: 50px;
  color: #ff0000;
}

.error {
  font-family: Sniglet, sans-serif;
  color: #ececec;
  font-size: 35px;
}

.textCntnr {
  font-family: Sniglet, sans-serif;
  color: #ececec;
}

.gif {
  width: 300px;
  border-radius: 20px;
}

.btn {
  font-family: Sniglet, sans-serif;
  color: #ececec;
  background-color: #385170;
  border-radius: 20px;
  border: none;
  margin-bottom: 2rem;
  padding: 5px;
  width: 100px;
  transition: color 0.3s ease;
  text-align: center;
  line-height: 40px;
}

.btn:hover {
  cursor: pointer;
  color: cornflowerblue;
  transition: color 0.3s ease;
}

.icon {
  transform: translate(-10%, 30%);
}
