@import url("https://fonts.googleapis.com/css2?family=Sniglet&display=swap");

.mainCntnr {
  display: flex;
  justify-content: center;
  background-color: #142d4c;
  height: 100vh;
  font-family: "Sniglet", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  width: 50%;
  height: 70%;
  margin-top: 100px;
}

.cuatro {
  font-size: 50px;
  color: #ff0000;
}

.error {
  color: #ececec;
  font-size: 35px;
}

.textCntnr {
  color: #ececec;
  text-align: center;
}

.gif {
  width: 300px;
  border-radius: 20px;
}

.btn {
  color: #ececec;
  background-color: #0d2136;
  border-radius: 10px;
  border: none;
  margin-bottom: 2rem;
  padding: 5px;
  width: 30rem;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #385170;
}

.icon {
  transform: translate(-10%, 30%);
}
