@import url("https://fonts.googleapis.com/css2?family=Sniglet&display=swap");

.pageCntnr {
    padding-bottom: 10px;
}

.pageCntnr button {
  font-size: 20px;
  background-color: #385170;
  color: #ececec;
  border-radius: 10px;
  transition: color 0.3s ease;
}

.pageCntnr button:hover {
  cursor: pointer;
}

.pageIndicator {
  font-family: Sniglet, sans-serif;
  font-size: 15px;
  color: #385170;
  padding: 5px;
}

.active-page {
  background-color: red;
  color: #fff;
}

/* .leftBtn, .rightBtn */

.leftBtn:hover,
.rightBtn:hover {
  color: cornflowerblue;
}

.icon {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.icon:hover{
  color: cornflowerblue;
  transition: color 0.3s ease;
}