@import url("https://fonts.googleapis.com/css2?family=Sniglet&display=swap");

.pageCntnr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageCntnr button {
  font-size: 20px;
  background-color: #385170;
  color: #ececec;
  border-radius: 10px;
  transition: color 0.3s ease;
}

.pageCntnr button:hover {
  cursor: pointer;
}

.pageIndicator {
  font-family: Sniglet, sans-serif;
  font-size: 20px;
  color: #385170;
  padding: 10px;
}

.active-page {
  background-color: red;
  color: #fff;
}

.leftBtn:hover,
.rightBtn:hover {
  color: cornflowerblue;
}

.icon {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  padding: 10px;
}

.icon:hover {
  color: cornflowerblue;
}
