@import url("https://fonts.googleapis.com/css2?family=Sniglet&display=swap");

.container {
  background-color: #142d4c;
  border-radius: 20px;
  border: 3px solid #9fd3c7;
  width: 200px;
  position: relative;
  transition: transform 0.3s ease;
}

.container:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease;
  border-radius: 20px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.9), 0 -2px 20px rgba(0, 0, 0, 0.9);
  z-index: 1;
}

.container:not() {
  filter: blur(3px);
  transition: all 0.3s ease-in-out;
}

.img {
  border-radius: 50px;
  display: flex;
  align-items: flex;
  position: 0;
  top: 0;
  width: 200px;
  height: 200px;
  border-bottom: 3px solid #9fd3c7;
}

.name,
.type,
.attack {
  width: 200px;
  font-family: Sniglet, cursive;
  color: #ececec;
}

.detailBtn {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 50%;
  font-family: Sniglet, cursive;
  color: #ececec;
  transition: background-color 0.3s ease;
}

.detailBtn:hover {
  background-color: #385170;
  width: 50%;
  transition: background-color 0.3s ease;
}
