.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em;
  gap: 1em;
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 720px) {
  .cards {
    width: 100%;
  }
}
