/* color: #212529; color para la navbar */

@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #142d4c;
    color: #ececec;
    padding: 1em;
}

.cntnr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.homeBtn {
    font-family: Sniglet, sans-serif;
    background-color: #385170;
    border: none;
    border-radius: 10px;
    color: #ececec;
    font-size: 15px;
    padding: 10px;
}

.homeBtn:hover {
    cursor: pointer;
}

.sort {
    margin-top: -25px;
}

.sort p {
    font-family: Sniglet, sans-serif;
}

.findOrCreate {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.createBtn {
    margin-bottom: -20px;
    font-family: Sniglet, sans-serif;
    background-color: #385170;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #ececec;
}

.createBtn:hover{
    cursor: pointer;
}